absl-py==2.1.0
addict==2.4.0
aiohappyeyeballs==2.6.1
aiohttp==3.11.18
aiosignal==1.3.2
anaconda-client==1.11.1
anaconda-navigator==2.4.0
annotated-types==0.7.0
appdirs==1.4.4
argcomplete==3.6.2
asgiref==3.8.1
astunparse==1.6.3
async-timeout==5.0.1
atomicwrites==1.4.0
attr==0.3.1
attrs==25.3.0
autograd==1.7.0
autograd-gamma==0.5.0
azure-core==1.34.0
azure-storage-blob==12.25.1
backports.tarfile==1.2.0
backports.weakref==1.0.post1
bdpy==0.25.1
bleach==5.0.1
blinker==1.9.0
bokeh==3.7.2
boto==2.49.0
boto3==1.38.21
botocore==1.38.21
Bottleneck==1.5.0
brotlipy==0.7.0
cachetools==5.5.2
click==8.1.8
cloudpickle==3.1.1
clyent==1.2.2
comm==0.2.2
conda==23.3.1
conda-build==3.23.3
conda-repo-cli==1.0.27
conda-verify==3.4.2
ConfigArgParse==1.7
constantly==15.1.0
contourpy==1.3.2
cryptography==39.0.2
cssselect==1.1.0
daal4py==2023.0.2
dash==2.18.2
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
dask==2025.4.1
datamodel-code-generator==0.26.1
datashape==0.5.4
decorator==4.4.2
Deprecated==1.2.18
distributed==2025.4.1
distro==1.9.0
Django==5.1.9
django-annoying==0.10.6
django-cors-headers==3.6.0
django-csp==3.7
django-debug-toolbar==3.2.1
django-environ==0.10.0
django-extensions==3.2.3
django-filter==24.3
django-migration-linter==5.2.0
django-model-utils==4.1.1
django-ranged-fileresponse==0.1.2
django-rq==2.10.3
django-storages==1.12.3
django-user-agents==0.4.0
djangorestframework==3.15.2
djangorestframework_simplejwt==5.4.0
dnspython==2.7.0
docopt==0.6.2
drf-dynamic-fields==0.3.0
drf-flex-fields==0.9.5
drf-generators==0.3.0
einops==0.8.1
email_validator==2.2.0
et-xmlfile==1.1.0
expiringdict==1.2.2
Faker==37.3.0
filetype==1.2.0
Flask==3.0.3
flatbuffers==1.12
fonttools==4.25.0
formulaic==1.1.1
frozenlist==1.6.0
fsspec==2025.5.1
fvcore==0.1.5.post20221221
gast==0.4.0
genson==1.3.0
gitdb==4.0.12
GitPython==3.1.44
google-api-core==2.24.2
google-auth==2.40.2
google-auth-oauthlib==0.4.6
google-cloud-appengine-logging==1.6.1
google-cloud-audit-log==0.3.2
google-cloud-core==2.4.3
google-cloud-logging==3.12.1
google-cloud-storage==2.19.0
google-crc32c==1.7.1
google-pasta==0.2.0
google-resumable-media==2.7.2
googleapis-common-protos==1.70.0
grpc-google-iam-v1==0.14.2
grpcio==1.72.0rc1
grpcio-status==1.72.0rc1
h11==0.16.0
h5py==3.13.0
hdf5storage==0.2.0
hf-xet==1.1.2
httpcore==1.0.9
httpx==0.28.1
huggingface-hub==0.32.3
humansignal-drf-yasg==1.21.10.post1
idna==3.7
ijson==3.4.0
image2sound==0.5
imageio-ffmpeg==0.6.0
importlib_metadata==8.6.1
inflect==5.6.2
inflection==0.5.1
interface-meta==1.3.0
iopath==0.1.10
ipython==8.12.3
ipywidgets==8.1.5
isodate==0.7.2
itsdangerous==2.2.0
jiter==0.10.0
jsf==0.11.2
jsonpointer==2.1
jsonschema==4.23.0
jsonschema-specifications==2025.4.1
jupyterlab_widgets==3.0.13
keras==2.9.0
Keras-Preprocessing==1.1.2
label-studio==1.18.0
label-studio-sdk==1.0.12
launchdarkly-server-sdk==8.2.1
libclang==18.1.1
lifelines==0.30.0
lightgbm==4.5.0
lightning-utilities==0.14.3
llvmlite==0.39.1
lmdb==1.6.2
lockfile==0.12.2
lpips==0.1.4
lxml==5.4.0
lxml_html_clean==0.4.2
lz4==4.4.4
markdown-it-py==3.0.0
mdurl==0.1.2
mean-average-precision==2024.1.5.0
midas==0.7.0
mistune==3.1.1
mkl-fft==1.3.1
mkl-service==2.4.0
ml_dtypes==0.5.1
moviepy==1.0.3
mpmath==1.2.1
multidict==6.4.3
munkres==1.1.4
mypy-extensions==0.4.3
namex==0.0.8
narwhals==1.37.1
natsort==8.4.0
navigator-updater==0.3.0
nbconvert==7.16.6
nltk==3.9.1
numpy==1.26.0
nvidia-cublas-cu11==11.11.3.6
nvidia-cublas-cu12==12.4.5.8
nvidia-cuda-cupti-cu11==11.8.87
nvidia-cuda-cupti-cu12==12.4.127
nvidia-cuda-nvrtc-cu11==11.8.89
nvidia-cuda-nvrtc-cu12==12.4.127
nvidia-cuda-runtime-cu11==11.8.89
nvidia-cuda-runtime-cu12==12.4.127
nvidia-cudnn-cu11==9.1.0.70
nvidia-cudnn-cu12==9.1.0.70
nvidia-cufft-cu11==10.9.0.58
nvidia-cufft-cu12==11.2.1.3
nvidia-curand-cu11==10.3.0.86
nvidia-curand-cu12==10.3.5.147
nvidia-cusolver-cu11==11.4.1.48
nvidia-cusolver-cu12==11.6.1.9
nvidia-cusparse-cu11==11.7.5.86
nvidia-cusparse-cu12==12.3.1.170
nvidia-nccl-cu11==2.21.5
nvidia-nccl-cu12==2.21.5
nvidia-nvjitlink-cu12==12.4.127
nvidia-nvtx-cu11==11.8.86
nvidia-nvtx-cu12==12.4.127
oauthlib==3.2.2
open3d==0.19.0
openai==1.81.0
opencv-contrib-python==4.11.0.86
opencv-python==4.11.0.86
opencv-python-headless==4.10.0.84
openpyxl==3.0.10
opentelemetry-api==1.33.1
opt_einsum==3.4.0
optree==0.14.1
ordered-set==4.0.2
ordereddict==1.1
pandas==2.2.3
partd==1.4.2
patsy==0.5.3
pep8==1.7.1
pillow==11.2.1
pipreqs==0.5.0
piq==0.8.0
ply==3.11
portalocker==3.1.1
proglog==0.1.10
progressbar==2.5
propcache==0.3.1
proto-plus==1.26.1
protobuf==3.20.1
psycopg2-binary==2.9.10
py-cpuinfo==9.0.0
pyarrow==20.0.0
pyasn1-modules==0.2.8
pyboxen==1.3.0
pycocotools==2.0.8
pycurl==7.45.1
pydantic==2.11.4
pydantic_core==2.33.2
PyDispatcher==2.0.5
Pygments==2.19.1
PyJWT==2.10.1
pyls-spyder==0.4.0
pymodbus==2.5.3
pyod==2.0.4
PyQt5==5.15.11
PyQt5-Qt5==5.15.16
PyQt5_sip==12.17.0
pyquaternion==0.9.9
pyRFC3339==2.0.1
pyserial==3.5
pyswarm==0.6
pyswarms==1.3.0
pytest==7.1.2
python-dotenv==1.0.1
python-json-logger==2.0.4
python-lsp-jsonrpc==1.0.0
pytorch-lightning==2.5.1.post0
pytorch-msssim==1.0.0
pytorch-wavelets==1.3.0
PyYAML==6.0.2
queuelib==1.5.0
redis==5.2.1
referencing==0.36.2
requests==2.32.3
requests-mock==1.12.1
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
retrying==1.3.4
rich==13.9.4
roboflow==1.1.53
rpds-py==0.25.1
rq==1.16.2
rsa==4.9.1
rstr==3.2.2
rules==3.4
s3transfer==0.12.0
safetensors==0.5.3
scikit-learn-intelex==20230228.214242
scipy==1.10.0
semver==3.0.4
sentence-transformers==4.1.0
sentry-sdk==2.29.1
six==1.17.0
smart-open==7.1.0
smmap==5.0.2
sqlparse==0.5.3
sympy==1.13.1
TBB==0.2
tensorboard==2.9.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorboardX==2.6.2.2
tensorflow==2.9.0
tensorflow-estimator==2.9.0
tensorflow-io-gcs-filesystem==0.37.1
termcolor==2.5.0
thop==0.1.1.post2209072238
timm==1.0.15
tldextract==5.3.0
tokenizers==0.21.1
torch==2.5.0
torch-geometric==2.6.1
torchaudio==2.5.1+cu121
torchdiffeq==0.2.5
torchinfo==1.8.0
torchmetrics==1.7.1
torchsummary==1.5.1
torchvision==0.20.0
tornado==6.4.2
tqdm==4.67.1
transformers==4.52.4
triton==3.1.0
typing-inspection==0.4.1
typing_extensions==4.13.2
tzdata==2025.2
ua-parser==1.0.1
ua-parser-builtins==0.18.0.post1
ujson==5.10.0
ultralytics==8.3.163
ultralytics-thop==2.0.14
uritemplate==4.1.1
urllib3==1.26.20
user-agents==2.2.0
wavio==0.0.9
webencodings==0.5.1
Werkzeug==3.0.6
widgetsnbextension==4.0.13
xgboost==2.1.3
xlrd==2.0.1
xmljson==0.2.1
xyzservices==2025.4.0
yacs==0.1.8
yarg==0.1.9
yarl==1.20.0
zict==3.0.0
zipp==3.21.0
